<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodeRoom</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css" type="text/css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js">
  </script>

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/addon/display/fullscreen.min.css" integrity="sha512-T8xB3MmwpA77VK9lUH3UkdUTnkmpqOxHF8OceOKaHrvpcXMSNX0xtpa9FoLTDAVO1JnB2UiMdVeI2V0HTHjTWA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/addon/edit/closebrackets.min.js" integrity="sha512-cCnOU69ESswPmMV3f9TR7WgctoJZliqGbJ8WeLn0VlUrngSsmtVopRf6OG/epbURGfNmY4RY6RzZ/mWkPQ/onw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/addon/edit/closetag.min.js" integrity="sha512-ZUq/bxUHwC35d3oP1hC5lshiHFCnI3dDtDPtSp9+CQDy/YU0LQu2ujDd603LuWho0G4XH8MSvyLV47x2Zcd8Jw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/addon/edit/matchbrackets.min.js" integrity="sha512-03Ei8A+mDhwF6O/CmXM47U4A9L7TobAxMbPV2Wn5cEbY76lngHQRyvvmnqhJ8IthfoxrRqmtoBxQCxOC7AOeKw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/addon/edit/matchtags.min.js" integrity="sha512-RhFcU90dzfpVCAfiAAFCqH/UESr9/ZzrwX9gW1ZjRh9kPu2CTqvWuk85U6ECWis/M9/yZemU+sheJspFobQOag==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/addon/display/rulers.min.js" integrity="sha512-sF+AF3zpVOHMt4f4mN1dVS2/Hon6pr/7h1gc7rDHtga0SeD9z0UiL1J0k3umDFEz5qkY06ARcNzi45NkJ9GsYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/codemirror@5.63.3/mode/clike/clike.js">
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/theme/monokai.min.css" integrity="sha512-R6PH4vSzF2Yxjdvb2p2FA06yWul+U0PDDav4b/od/oXf9Iw37zl10plvwOXelrjV2Ai7Eo3vyHeyFUjhXdBCVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/javascript/javascript.min.js"></script>

  <link rel="stylesheet" href="/css/room.css" type="text/css">
  <link href="/css/roomGen.css" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

  <!-- <a href="#" onclick="connect()">Click to connect</a>
  <a href="#" onclick="ice()">Ice</a>
  <a href="#" onclick="send()">Send</a> -->
  <!-- <br> -->
  <nav class="navbar">

    <div class="nav-container">

      <a href="/" style = "text-decoration: none;">
        <div class="logo">
          <h1 class="web-name">&lt; Code</h1>
          <img src="/img/duckFace.png" class="duck">
          <h1 class="web-name" style="margin-left: 0;">Room &gt;</h1>
        </div>
      </a>
      <div class = "roomId-container">
        <h4 class = "roomId">RoomID:  <%=roomId%></h4>
      </div>
    </div>

  </nav>

  <div class="modal modal-form" style="display: none;">
    <div class='bg-modal'>
      <div class="modal-content">
        <form method="GET" action="">
          <div class="close-container"><img src="/img/close.png" class="close" onclick="closeModalForm(event)"></div>
          <div class="form-input">
            <label for="roomId"><b>Enter Room Link</b></label>
            <input type="text" name="roomId" class="roomId">
          </div>
          <button type="submit" class="submit-join">Join Room</button>
        </form>
      </div>
    </div>
  </div>

  <div class="modal modal-about" style="display: none;">
    <div class="bg-modal">
      <div class="modal-content">
        <div class="close-container"><img src="/img/close.png" class="close" onclick="closeModalAbout(event)"></div>
        <div class="about-content">
          <p>Howdy!!</p>
          <p>I am Dhiren Chugh, a Compute Science student.</p>
          <p>I have a passion for design and like to solve challenging problems which
            involve both creativity and logic.
          </p>
          <p> I made this as a personal project but thought it would be helpful for coders
            who want a free service for pair programming.
          </p>
          <p>If you want to know more about me or this project , hit me up on LinkedIn or you
            can reach me on my mail(dhirenchugh23@gmail.com)
          </p>
        </div>
      </div>
    </div>
  </div>


  <textarea id="textArea" style="font-size: 2rem;"></textarea>

  <footer>
    <div class="about">
      <a onclick="aboutMe()">About Me</a>
    </div>
    <div class="author-container">
      <img src="/img/duckLeft5.png" class="duck-bracket">
      <h1 class="author">&copy; 2021 Dhiren Chugh</h1>
      <img src="/img/duckRight6.png" class="duck-bracket">
    </div>
    <div class="contact">
      <a href="https://www.linkedin.com/in/dhiren-chugh-65558417b/" class="icons"><img src="/img/linkedin.png" class="icons"></a>
      <a href="mailto: dhirenchugh23@gmail.com" class="icons"><img src="/img/mail.png" class="icons"></a>
    </div>

  </footer>





  <script>
    const modalAbout = document.querySelector(".modal-about");

    function aboutMe() {
      modalAbout.style.display = "block";
    }

    function closeModalAbout() {
      modalAbout.style.display = "none";
    }
  </script>

  <script>
    const roomId = "<%=roomId%>";
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js" integrity="sha512-UNM1njAgOFUa74Z0bADwAq8gbTcqZC8Ej4xPSzpnh0l6KMevwvkBvbldF9uR++qKeJ+MOZHRjV1HZjoRvjDfNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src = "/js/bundle.js"></script>
  
</body>

</html>